server:
  port: 8080
  error:
    include-message: always
spring:
  datasource:
    username: admin
    password: password
    url: jdbc:postgresql://localhost:5332/customer
  jpa:
    hibernate:
      ddl-auto:  validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
      show_sql: true
  main:
    web-application-type: servlet